@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--radial-gradient-background: 81, 81, 81;
	--solid-color-background: 89, 112, 211;
	--overlay-color: 255, 255, 255;
}

body {
	@apply bg-[#050b22];
}

.bg-svg-robot {
	background-image: url('/img/robot-svg-bg.svg');
	background-repeat: no-repeat;
	background-size: contain;
}

.radial-gradient {
	background: radial-gradient(
			circle at 50% 0%,
			rgba(var(--radial-gradient-background), 0.05) 0%,
			transparent 60%
		)
		rgba(var(--solid-color-background), 1);
}

.linear-mask {
	mask-image: linear-gradient(
		-75deg,
		white calc(var(--x) + 20%),
		transparent calc(var(--x) + 30%),
		white calc(var(--x) + 100%)
	);
	-webkit-mask-image: linear-gradient(
		-75deg,
		white calc(var(--x) + 20%),
		transparent calc(var(--x) + 30%),
		white calc(var(--x) + 100%)
	);
}

.linear-overlay {
	background-image: linear-gradient(
		-75deg,
		rgba(var(--overlay-color), 0.1) calc(var(--x) + 20%),
		rgba(var(--overlay-color), 0.5) calc(var(--x) + 25%),
		rgba(var(--overlay-color), 0.1) calc(var(--x) + 100%)
	);
	mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
	-webkit-mask: linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask-composite: exclude;
	-webkit-mask-composite: xor;
}

.animate {
	animation: movePath 4s ease-in-out infinite alternate;
}

@keyframes movePath {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100px);
	}
}

.overlay {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.custom-radio:checked {
	background-color: #4c51bf;
	border-color: #4c51bf;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loader {
	border-top-color: transparent;
	border-right-color: #3498db;
	border-bottom-color: #3498db;
	border-left-color: #3498db;
	animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
